* {
    margin: 0;
    padding: 0;
}

.main {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 12px;
    margin-top: 50px;
}

.cardContainer {
    border: 2px solid #ffffff;
    background-color: rgba(88, 88, 88, 0.425);;
    width: 320px;
    height: 250px;
    margin: 1px 2px;
    border-radius: 15px;
    padding: 10px;
    transition: box-shadow, 10ms;
    transition: border, 500ms;
}

.cardContainer:hover {
    /* light blue color #00e1ff 
    orange #ff9100*/
    box-shadow: 0 0 15px 2px #ffffff;
    border: 1px solid transparent;
}

.cardContainer img {
    /* width: auto; */
    margin-top: 5px;
    height: 50px;
    justify-content: center;
    margin-left: 130px;
    /* margin-bottom: 500px; */
}
.button{
   left: 98px;
}

.button:hover{
    cursor: pointer;

}


.cardName {
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.cardAttack {
    text-align: center;
    color: #000000;
    /* text-shadow: 2px 2px 1px #ffffff; */
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.click{
    color: white;
    margin-left: 24px;
}